.rent-car-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    margin: auto;
    .car-details-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .car-image{
            
            img{
                width: 40vw;
                border-radius: 1%;
                box-shadow: 2px 2px 10px #AAA;
            }
        }
        .car-details{
            font-size: 2em;
        }
    }

    .rent-car-form{
        display: flex;
        flex-direction: column;
        height: 30vh;
        justify-content: space-around;
        align-self: center;
    }
}